<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="sidebar.js" text="text/javascript" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <style>
        .mainColor{
            background-color: #EF476F;
        }
        .darkColor{
            background-color: #78405e;
        }
        .YesColor{
            background-color: #60d2a4;
        }
        .fontJakarta{
            font-family: 'Plus Jakarta Sans', sans-serif;
        }
        .navy{
            color: #30547a;
        }

        .tabelMahasiswa > tr > td{
            border-color: #30547a;
            border-top-width: 1px;
            border-bottom-width: 1px;
            padding: 6px;
        }

        span.linkToStudent{
            display: inline-block;
            border: 3px solid #30547a;
            border-radius: 100%;
            font-size: 18px;
            color: #30547a;
            width: 30px;
            font-weight: bold;
            height: 30px;
            text-align: center;
        }

    </style>
</head>
<body class="bg-gray-100 font-sans h-screen">

    <div class="flex h-full">
        <!-- Sidebar -->
        <aside class=" flex flex-col w-64 mainColor text-white p-6 md:w-1/4 lg:w-1/5 xl:w-1/6">
            <div class="mb-8">
                <h1 class="text-2xl font-bold">SISTA</h1>
                <p class="text-sm fontJakarta">Grup Pengguna Dosen</p>
            </div>
            <nav class="flex flex-col flex-1 space-y-4">
                <div>
                    <a href="dashboard-dosen.html" class="flex items-center darkColor p-2 rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
                    <strong>Dashboard</strong></a>
                </div>
            </nav>
            <div class="mt-auto">
                <a href="index.html" class="flex items-center hover:bg-[rgb(182,64,94)] p-2 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" /></svg>
                Log Out</a>
            </div>
        </aside>

        <!-- Main Content & Profile -->
        <div class="flex-1 flex flex-col p-8 overflow-y-auto"> 

            <!-- Main Content -->
            <div class="flex-grow">
               <div class="header-welcome flex w-full"> 
                    <div>
                        <h2 class="text-3xl font-bold mb-4 fontJakarta"> Selamat Datang, Dosen!</h2>
                        <p class="text-gray-600">Senin, 14 Oktober 2024</p>
                    </div>
                    <div id="profile_pic" class="profile-bar ml-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mr-2 hover:bg-gray-400 rounded transition" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-4.42 0-8 1.79-8 4v2h16v-2c0-2.21-3.58-4-8-4z" />
                        </svg>
                    </div>
                </div>
            
               <div class="w-full flex mt-8">
                   <div class="text-2xl font-bold fontJakarta w-1/2">Daftar Mahasiswa TA</div>
                   <input type="button" value="Filters" class="ml-auto border border-gray-400 rounded-full w-20 h-8">
                </div>
                
                <table class="mt-4 table-auto w-full">
                    <thead>
                        <tr class="bg-gray-98 navy">
                            <th>NPM</th>
                            <th>Nama</th>
                            <th>Semester</th>
                            <th>Tahun Ajaran</th>
                            <th>Sebagai</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody class="tabelMahasiswa text-center">
                        <tr>    
                            <td>6182201018</td>
                            <td>Rayner Cuanda</td>
                            <td>Ganjil</td>
                            <td>2024/2024</td>
                            <td>Penguji</td>
                            <td><span class="linkToStudent ">i</span></td>
                        </tr>
                        <tr>    
                            <td>6182201087</td>
                            <td>Hans Stevensen</td>
                            <td>Genap</td>
                            <td>2024/2025</td>
                            <td>Pembimbing</td>
                            <td><span class="linkToStudent ">i</span></td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

        <!--Left bar for profile-->
        <div id="profile" class="h-full w-96 ml-auto border-l-4 flex">
            <p class="font-bold m-4 fontJakarta">Profile</p>

            <div class="about flex flex-col justify-center items-center mt-6">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mr-2"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                        d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-4.42 0-8 1.79-8 4v2h16v-2c0-2.21-3.58-4-8-4z" />
                    </svg>
                </div>
                <div>
                    <p class="name text-center"><strong>John Doe</strong></p>
                    <p class="email text-center">6182001100@student.unpar.ac.id</p>    
                </div>
            </div>
        </div>

    </div>
</body>
</html>