<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <!-- Tombol buat Download -->
    <h1 class="mb-4 text-xl font-semibold text-gray-900">Silahkan menandatangani BAP ini</h1>
    <a href="/download-bap" download>
        <button type="button" class="block text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 px-4 py-2 mb-4">
            Download
        </button>
    </a>    

    <label class="block mb-1 text-sm font-semibold text-lg text-gray-800" for="file_input">
        Upload file (Isi Persetujuan BAP dengan mengirimkan file Tanda tangan)
    </label>
    <input class="block text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 mb-2" id="file_input" type="file">
</body>
</html>
